<ng-container *ngIf="packageHistory">
  <h2 class="text-center">Package History</h2>
  <div class="bar-chart">
    <app-bar
      *ngFor="let version of sortedVersions"
      [version]="version"
      [bundle]="packageHistory[version]"
      [maximal]="maximalSize"
    ></app-bar>
  </div>
  <div class="legend">
    <div class="legend-min">
      <div class="color-box"></div>
      min
    </div>
    <div class="legend-gzip">
      <div class="color-box"></div>
      gzip
    </div>
  </div>
</ng-container>
