.full-bar {
  height: 160px;
  width: 16px;
  margin: 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.size-bar {
  background-color: var(--secondary-light-color);
}

.size-bar-gzip {
  background-color: var(--primary-light-color);
  position: relative;
}

.empty-bar {
  height: 100px;
  background-color: var(--bg-color);
}
