#search-input {
  padding: 15px 30px;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

#search-input:focus {
  outline: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
